//
//  configuration.xcconfig
//  FloorDetector
//
//  Created by Julien Goudet on 21/06/2019.
//  Copyright © 2019 Hootcode. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.example.name
DEVELOPMENT_TEAM = ABCDEF
CODE_SIGN_STYLE = Automatic

#include? "secret.xcconfig"
